Source: syschangemon
Section: python
Priority: extra
Maintainer: Erno Rigo <erno@rigo.info>
Build-Depends: debhelper (>= 9), python3.4, dh-virtualenv (>= 0.11)
Standards-Version: 3.9.5

Package: syschangemon
Architecture: all
Pre-Depends: dpkg (>= 1.16.1), python3.4 | python3.5, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}
Description: system change monitor
 Periodically collects system configuration (eg. conffiles in /etc, binary files in /sbin, etc.)
 for changes, it can even run external commands and store their stdout and stderr for change monitoring.
 .
 This can be useful as a HIDS (host based intrusion detection system) as well as in a shared working environment
 where several users have administrative access to system configuration.
 .
 If changes are found it sends text and html reports to predefined email addresses. It also includes relevant wtmp
 information in the reports.
 .
 Similar software: tripwire, samhain, fcheck, changetrack, systraq


