{%- set cols=[15,50,50] %}
{%- set cols2=[15,100] %}
{{ tr('session', old_session.stamp|strftime('%Y-%m-%d %H:%M:%S %Z (old)'), new_session.stamp|strftime('%Y-%m-%d %H:%M:%S %Z (new)'), cols=cols) }}
{{ hr(cols=cols, char='=', separator='=+=') }}
{%- for attr in ['uuid','start_time','end_time'] %}
{{ tr(attr, old_session[attr], new_session[attr], cols=cols) }}
{%- endfor %}
{%- for url in lost_urls %}
{{ hr(cols=cols) }}
{{ tr('lost old item', url, '', cols=cols) }}
{{ hr(cols=cols) }}
{%- set state = old_session.get_state(url) %}
{%- for k, v in state.items() %}
{%- if v != None and k not in ['id', 'url', 'plugin', 'sessionid'] %}
{{ tr(k, v, '', cols=cols) }}
{%- endif %}
{%- endfor %}
{%- endfor  %}{# url in lost_urls #}
{%- for url in found_urls %}
{{ hr(cols=cols) }}
{{ tr('found new item', '', url, cols=cols) }}
{{ hr(cols=cols) }}
{%- set state = new_session.get_state(url) %}
{%- for k, v in state.items() %}
{%- if v != None and k not in ['id', 'url', 'plugin', 'sessionid'] %}
{{ tr(k, '', v, cols=cols) }}
{%- endif %}
{%- endfor %}
{%- endfor  %}{# url in found_urls #}
{%- for diff in diffs %}
{{ hr(cols=cols) }}
{{ tr('changed item', diff.label1, cols=cols2) }}
{{ hr(cols=cols) }}
{%- for ko1, vo1 in diff.only1.items() %}
{{ tr(ko1, vo1, '', cols=cols) }}
{%- endfor %}
{%- for ko2, vo2 in diff.only2.items() %}
{{ tr(ko2, vo2, '', cols=cols) }}
{%- endfor %}
{%- for k, v in diff.both_neq_tuple.items() %}
{{ tr(k, v[0], v[1], cols=cols) }}
{%- endfor %}
{%- for k, v in diff.both_neq_diff.items() %}
{{ hr(cols=cols) }}
{{ tr("diff of "~k, v, cols=cols2) }}
{%- endfor %}
{%- if diff.plus_info|count > 0 %}
{{ hr(cols=cols) }}
{%- for k, v in diff.plus_info.items() %}
{{ tr(k, v, cols=cols2) }}
{%- endfor %}
{%- endif %}{# plus_info|count > 0 #}
{%- endfor %}{# diff in diffs #}
{%- if is_empty %}
{{ hr(cols=cols) }}
{{ tr('note', 'no difference', cols=cols2) }}
{%- endif %}
{%- if extra|count > 0 %}
{{ hr(cols=cols, char='=', separator='=+=') }}
{%- for k, v in extra.items() %}
{{ tr(k, v, cols=cols2) }}
{%- endfor %}
{%- endif %}{# exta|count > 0 #}
